rbody {
    margin: 0;
    font-family: 'Calibri', 'Arial', sans-serif;
    background: #f7f7f7;
    color: #333;
}

header {
     font-family: 'Calibri', sans-serif;
    background: #222;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

section {
     font-family: 'Calibri', sans-serif;
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    border-left: 5px solid #222;
    padding-left: 10px;
}

.proyecto {
     font-family: 'Calibri', sans-serif;
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.proyecto a {
     font-family: 'Calibri', sans-serif;
    color: #0066cc;
    text-decoration: none;
}
/* --- TABLA DE FORMACIÓN MODERNA --- */
table {
    font-family: 'Calibri', sans-serif;
    width: 100%;
    border-collapse: separate;   /* Necesario para bordes redondeados */
    border-spacing: 0;           /* Quita separación entre celdas */
    margin-top: 20px;
    font-size: 16px;
    border-radius: 12px;         /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    overflow: hidden;            /* Para que los bordes redondeados funcionen */
}

th, td {
    padding: 12px 10px;
    text-align: left;
}

/* Encabezados con fondo azul */
th {
    background-color: #0D3A78;
    color: white;
    font-weight: 700;
}

/* Filas alternas */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Primera fila redondeada arriba */
thead th:first-child {
    border-top-left-radius: 12px;
}
thead th:last-child {
    border-top-right-radius: 12px;
}

/* Última fila redondeada abajo */
tbody tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}
tbody tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}
/* Fondo oscuro */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

/* Caja blanca */
.modal-contenido {
    background: white;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    border-radius: 8px;
}

/* Botón cerrar */
.cerrar {
    float: right;
    font-size: 22px;
    cursor: pointer;
}




